body {
  font-family: 'Open Sans'
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
}

.smaller-credits {
  font-size: 0.5em;
}

div.post-entry, article.blog-post p {
    text-align: justify;
    text-justify: inter-word;
}

code.hljs {
  font-size: 0.8em;
}
